body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.calculator:hover {
    transform: scale(1.05);
}

.calculator #display {
    width: 94%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: transform 0.2s, background-color 0.3s ease;
}

.calculator button:active {
    transform: scale(0.95);
    background-color: #45a049;
}

.calculator button:hover {
    background-color: #c1cf00;
    color: black;
}
